/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.parent{
	-fx-background-color:#fff;
}
.sidebar{
	-fx-background-color: linear-gradient(to right,#2B102B, #2B102B);
	-fx-background-radius: 20px 20px;
}
.forgetBtn{
	-fx-text-fill: #a3a3a3;
}
.forgetBtn:hover{
	-fx-text-fill: #6747CD;
}
.loginBtn{
	-fx-background-color:#6747CD;
	-fx-text-fill: #fff;
	-fx-background-radius: 5px;
}
.loginBtn:hover{
	-fx-background-color:transparent;
	-fx-border-radius: 5px;
	-fx-text-fill: #6747CD;
	-fx-border-color: #6747CD;
	-fx-border-width: 1px;
	-fx-border-style: solid;
	
}
.btnBack{
	-fx-fill: #545454;
}
.btnBack:hover{
	-fx-fill: #6747CD;
}
/*--------------Home Page--------------------- */
.gradient-background{
	-fx-background-color: #61D8DE;
	 -fx-background-image: url("../../image/photo-1475275083424-b4ff81625b60.jpg");
	
	
}

.login_css{
	-fx-background-image: url("../../image/photo-1475275083424-b4ff81625b60.jpg");
}
.line-color{
	-fx-background-color: #F3ABB5;
}
.container{
	-fx-background-color: rgba(255,255,255,0.2);
	-fx-background-radius: 10;
}
.shadow{
	-fx-effect: dropshadow(three-pass-box,rgba(0,0,0,0.2),10.0,0.0,0.0,10.0); 
}
.shadow:hover{
	-fx-text-fill: #6747CD;
	
}

.btnhome{
	-fx-background-color: rgba(255,255,255,0.2);
	-fx-background-radius: 10;
}
.btnhome:focused{
	-fx-background-color: rgba(255,255,255,0.2);
	-fx-background-radius: 10;
}
.btnhome:pressed{
	-fx-background-color: #57989B;
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-text-fill: #6747CD;
}
.btnhome:hover{
	/* 
	-fx-background-color: #57989B;
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-text-fill: #6747CD;
    */
	-fx-background-color: rgba(255,255,255,0.2);
	-fx-background-radius: 10;
}

.btnsale:hover{
	
    -fx-text-fill: #5A8F99;
    -fx-background-color:#91B4BB;
}